
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
*.vscode*
cmake-build-debug
.idea

# GTAGS
GPATH

GRTAGS
GTAGS

# Junk
*Info.plist
.DS_Store

# Custom
node_modules/*
