<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<link rel="stylesheet" href="/style/styles.css" type="text/css"/>
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'/>
	</head>
	<body>
		<%- include nav.ejs %>
		<div class="row test">
			<div class="row m-0 center">
				<div class="col- text-center">
					<h1>Sign in to your account</h1>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="space-enter-btn">
					<button type="button" class="btn btn-outline-danger align-flex-item custom-btn">
						<img src="src/search.png"/>
						Continue with Google +</button>
				</div>
				<div>
					<button type="button" class="btn btn-outline-primary align-flex-item custom-btn">
						<img src="src/facebook.png"/>
						Continue with Facebook</button>
				</div>
			</div>
			<hr class="style-two"/>
			<div class= "row justify-content-center mb-3">
				<div class="">
					<input type="email" class="input-email" id="exampleInputEmail1" placeholder="Enter your email">
				</div>
				<div>
					<button class="bnt-submit btn-test-gradient">Get started</button>
				</div>
			</div>
		</div>
	</body>
</html>
 