<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<link rel="stylesheet" href="/style/styles.css" type="text/css"/>
	</head>
	<body>
		<%- include nav.ejs %>
		<header>
			<h1>AREA</h1>
			<h2>Homepage</h2>
		</header>
		<main>
			<p>A tuto</p>
		</main>
	</body>
</html>

<!-- <script src="https://unpkg.com/vue"></script> -->