<nav>

	<ul>
		<img src='src/AreaName.png' class= 'logo-nav'/>
		<% if (user) { %>
		<li><a href="/auth/logout">Logout</a></li>
		<% } else { %>
		<li><a href="/auth/login">Login</a></li>
		<% } %>
		<li><a href="/">Homepage</a></li>
		<li><a href="/profile">AREA</a></li>
	</ul>
</nav>