<html>
	<head>
		<meta charset="utf-8">
		<title>AREA</title>
		<link rel="stylesheet" href="/style/styles.css" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>
        AREA
        <a href="/profile/addTrigger">Add triger on date</a><br>
        <a href="/profile/addReaction">Add reaction on date</a>
    </body>
</html>