<html>
	<head>
		<meta charset="utf-8">
		<title>Area</title>
		<link rel="stylesheet" href="/style/styles.css" type="text/css"/>
	</head>
	<body>
		<%- include nav.ejs %>
		<header>
			<h1>Login using ...</h1>
		</header>
		<main>
            <a class="google-btn" href="/auth/google">Google+</a>
		</main>
	</body>
</html>