<html>
	<head>
		<meta charset="utf-8">
		<title>Area</title>
		<link rel="stylesheet" href="/style/styles.css" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	</head>
	<body>
		<%- include nav.ejs %>
		<div class="container">
		<header>
			<div id="testvue"><username-el ref="component1"></username-el></div>
			<h1>AREA - <%= user.username%></h1>
		</header>
	</div>
	</body>
</html>